body .reveal h1 {
  font-family: 'Yantramanav';
  font-weight: bold;
}

body .reveal h1 {
  font-size: 2em; 
  font-weight: bold;
}

body .reveal h2 {
  font-family: 'Yantramanav';
  font-size: 1.11em;
  font-weight: bold; 
}

body .reveal h3 {
  font-family: 'Yantramanav';
  font-weight: bold; 
  font-size: 1em; 
}

body .reveal h4 {
  font-family: 'Yantramanav';  
  font-weight: bold; 
  font-size: 0.9em; 
}

body .reveal {
  font-family: 'Yantramanav';
}

body .reveal a {
 text-decoration: underline; 
}

body .reveal table {
  font-size: 0.6em;
}

body .reveal img {
  border: none;
  background: transparent;
  box-shadow: none;
}

body .reveal ul {
  line-height: 1.5;
}

body .reveal li>code, body .reveal p>code {
  font-size: 0.7em;
  font-weight: bold;
  background: #fff;
}